@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100vh;
    width: 100vw;
overflow-x: hidden;
}
iframe{
    height: 70vh;
    width: 50vh;
}
.widget {
    background-color: #0a0a1e;
    height: 100%;

}

.widget nav {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    margin: 0 20px;
}

.widget nav h1 span {
    color: #E8AC30;
}

.widget nav h1 {
    color: white;
    font-size: 25px;
}

.widget nav button:hover {
    background-color: #E8AC30;
    color: black;
}

.widget nav button {
    border: 2px solid #E8AC30;
    background: transparent;
    color: #E8AC30;
    text-transform: uppercase;
    font-weight: 999;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;

}

.container {
    display: flex;
    align-items: center;
    height: calc(100% - 90px);
    width: 100%;
}

.container .input {
    width: 50%;
    height: 100%;
}

.container .image {
    width: 50%;
    height: 100%;
    background-image: url('https://storage.googleapis.com/fastwork-asset/subcategory_images/th/cover/marketing-advertising/seo-02032022.jpg');
    background-position: center;
    background-size: cover;
}

.container .checker {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.container .input .about h2 span {
    color: #E8AC30;
}

.container .input .about h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 10px;
    font-weight: 999;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.container .input .about {
    margin-top: 140px;
    margin-bottom: 30px;
}

.container .input .about p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 50px 100px;
    padding-top: 0;
    text-align: center;

}

.container .input button:active {
    background: #c68e1c;
    font-size: 15px;
}

.container .input button {
    background: transparent;
    background-color: #E8AC30;
    text-transform: uppercase;
    font-weight: 999;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    color: rgb(36, 36, 36);
    font-size: 16px;
    cursor: pointer;
}

.container .input input {
    background-color: transparent;
    border: 1px solid grey;
    padding: 3px 7px;
    border-radius: 5px;
    height: 40px;
    width: 300px;
    color: white;
    font-size: 17px;
}
.result{
    height: 100vh;
    width: 100vw;
    padding: 20px;
}
/* .main .result {
    height: 100vh;
    width: 100vh;
}

.main .result iframe {
    width: 100vw;
    height: 100%;
} */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.score{
    margin-top: 20px;
    margin: 20px 30px;
    padding: 20px;
    text-align: center;
    background-color: #ffbd38c0;
    border: 1px solid;
    border-radius: 20px;
    font-size: 30px;
}
#loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

#loader:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.htags{
    /* display: flex;
    flex-wrap: wrap; */
    /* gap: 20px; */
    margin: 25px;
}
.heading{
    
    font-size: 32px;
        text-align: center;
        margin:30px 20px;
    }
    .htags h2{
        font-size: 25px;
        background-color: #ffe792ab;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid;
        margin: 20px 0;
    }
    .htags h4{
        line-height: 30px;
        border-bottom: 1px solid grey;
        padding: 10px;
        
    }
    .fhead{
        margin: 20px;
        font-size: 30px;
        text-align: center;

    }
    .title{
        font-size: 20px;
        text-align: center;
        margin: 20px;
    }
    .links{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin:50px 25px;
    }
    .links div{
        padding: 20px;
        border: 1px solid;
        border-radius: 10px;
    }
    @media (max-width:666px) {
        
        .main {
            overflow-x: hidden;
        }
        
        .main nav {
            height: 60px;
            padding: 0;
        margin: 0 10px;
    }
    
    .main nav h1 {
        font-size: 20px;
    }

    .main nav button {
        padding: 5px 10px;
        font-size: 13px;
    }
    
    .main .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container .input {
        width: 100%;
    }

    .container .input .about {
        margin-top: 30px;
        padding: 0;
        width: 100%;
    }

    .container .input .about h2 {
        font-size: 35px;
        padding: 15px;
    }

    .container .input .about p {
        padding: 0;
        font-size: 13px;
        margin: 0;
        padding: 0 50px;
    }

    .container .image {
        margin-top: 70px;
        width: 100%;
    }

    .container .input input {
        background-color: transparent;
        border: 1px solid grey;
        padding: 3px 5px;
        border-radius: 5px;
        height: 30px;
        width: 240px;
        color: white;
        font-size: 15px;
    }

    .container .input .checker {
        gap: 5px;
    }

    .container .input button:active {
        font-size: 12px;
    }

    .container .input button {
        padding: 7px 8px;
        font-size: 13px;
    }
    .score{
        padding: 10px;
        font-size: 24px;
    }
    .links{
        gap: 10px;
    }
    .links div{
        padding: 10px;
        font-size: 13px;
    }
    .heading{
        font-size: 25px;
        margin: 0;
    }
    .htags h2{
        font-size: 20px;
    }
}